@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
  --mainColor : #ffc107;
  --mainColor_opa : #ffc10766;
}

html { overflow-y:scroll; }

button{
  margin: 0 2px;
  border:none;
  background-color: white;
}

.btn-warning{
  background-color: var(--mainColor);
  border:2px solid black;
}

.btn-outline-warning{
  border :2px solid var(--mainColor);
  color: var(--mainColor);
}

.btn-warning:hover, .btn-outline-warning:hover{
  background-color: var(--mainColor);
  border-color:var(--mainColor);
  color: #000;
}

.btn-warning:active, .btn-outline-warning:active{
  box-shadow: 0 0 0 0.25rem silver!important;
}

.btn-warning:focus, .btn-outline-warning:focus {
  color: #000;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  box-shadow: 0 0 0 0.25rem var(--mainColor_opa);
}

.btn-outline-secondary{
  border:2px solid black;
}

.btn-outline-dark{
  border:2px solid black;
}

.btn-secondary{
  border:2px solid black;
  background-color:darkgray;
}

.btn-dark{
  border:2px solid black;
  color:var(--mainColor);
}

.App {
  text-align: center;
}

#blogtitle{
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  margin:0;
} 

#blogtitle img{
  width:30px;
  margin-right: 2px;
  transition: all 2s;
}

#blogtitle:hover img{
  transform: rotate(360deg);
}

#phoneList{
  display: none;
}

#colorFrame{
  position: relative;
}

#colorCircle{
  border-radius: 50%;
  padding:1px;
}

#colorPicker{
  position: absolute;
  padding-bottom: 10px;;
  border:2px solid black;
  border-radius: 10px;
  top: 55px;
  left:50%;
  transform: translateX(-50%);
  background-color: white;
  display:none;
}

#navbar{
  border-bottom : 2px solid black;
  background-color: white;
  z-index: 10;
  width : 100%;  
  position: fixed; 
  top:0;
}

#navbar Button{
  min-width:55px;
}

#navbar Button:hover .iconbtn{
  font-size: 1rem;
}

.iconbtn{
  font-size: 0;
  transition: all 0.8s;
}

.frame{
  position : relative;
  top:10vh;
  margin: auto;
}

#userPage{
  background-color: var(--mainColor_opa);
  border: 2px solid black;
  border-radius: 5px;
  padding:10px;
}

#userPage h5{
  text-align: center;
}

#userPage img{
  border:1px solid black;
  height: 80px;
  width: 80px;
}

#userPage p{
  font-size: 14px;
  color: black;
  text-align: center;
  margin-bottom: 0;
}

#movingimg{
  padding:16px;
  text-align: center;
}

#movingimg img{
  height:50px;
  width:50px;
  margin:1px 0 9px 0;
}

.list{
  border-radius: 0 10px 10px 0;
  padding-top:12px;
  padding-bottom:12px;
  margin-top:14px;
  margin-bottom:14px;
  border: 2px solid var(--mainColor);
  border-left: 0px;
  text-align: right;
}

.list span{
  font-size: 15px;
}

#postList{
  max-height: 85vh;
  overflow:auto;
  position: sticky;
  top:90px;
}

#postList h4{
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  top:0;
  background-color: white;
  padding:0 0 15px 0;
}

#moreButton{
  display: inline-block;
  margin: 5px;
  margin-left: 10px;
}

.showList{
  max-height: 0;
  overflow: hidden;
  color:darkgray;
}

.showList:nth-of-type(2){
  max-height: none;
  color: black;
}

.showList:nth-of-type(1),.showList:nth-of-type(3){
  max-height: none;
}

.showList:first-of-type, .showList:last-of-type{
  color: darkgrey;
}

.showList:hover h5{
  cursor: pointer;
  color:var(--mainColor);
}

.showList:first-of-type:hover h5, .showList:last-of-type:hover h5{
  cursor:default;
  color: darkgrey;
}

.showList h4{
  text-align:left;
  margin-bottom: 25px;;
}

.showList h5{
  text-align: left;
  font-size: 18px;
}

.showSpan{
  color:white;
}

.showList:nth-of-type(2) span{
  color: black;
}

.showList:last-of-type span{
  color: white;
}

.showList p{
  text-align: left;
  font-size: 11px;
  margin-top: -5px;
  padding-left: 18px;
}

.content{
  padding:60px 20px;
}

.content p{
  text-align: left;
}

.content h6{
  text-align: right;
}

.content h4{
  margin-bottom: 32px;
}

.content_Img{
  max-width:100%;
  border-radius: 5px;
  margin-bottom: 40px;
}

#imgForUpdate{
  width:100px;
  margin-bottom: 30px;
}

.comment h6{
  font-size: 13px;
  text-align: left;
}

.comment p{
  font-size: 12px;
}

.comment button{
  border:1px solid gray;
  border-radius: 3px;
  float:right;
}

.comment button:hover{
  background-color: silver;
}

#commform{
  background-color: var(--mainColor_opa);
  padding:10px;
  border:2px solid black;
  border-radius: 5px;
}

#searchResult{
  padding: 0 30px;
  height: 55vh;
  overflow: auto;
}

#searchResult h6{
  text-align: left;
  border-bottom : 1px solid lightgray;
  padding-bottom:6px;
}

#searchResult h6:hover{
  color: var(--mainColor);
  cursor: pointer;
}

.topthree{
  border-left: 0;
  margin-top: 14px;
  margin-bottom:14px;
  padding-bottom:12px;
  border: 2px solid var(--mainColor);
  border-right: 0px;
  border-radius: 10px 0 0 10px;
}

#t3innerframe{
  position: sticky;
  top:95px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  padding : 5px;
  width: 50%;
  margin-top:-3px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: 2px solid black;
  border-bottom: 0px;
  background-color: var(--mainColor_opa);
}

.tab-content>.active{
  border: 2px solid black;
  border-radius:0 0 5px 5px;
}

.thumbDiv{
  position: relative;
  margin: 20px auto;
  width:85%;
  cursor:pointer;
  padding:0;
  display: inline-block;
}

.thumbDiv h2{
  position:absolute;
  top:35%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  color:transparent;
  transition: all 1s;
}

.thumbDiv:hover .thumbTop3{
  filter: brightness(0.7);
}

.thumbDiv:hover h2{
  color:white;
}

.thumbTop3{
  width:100%;
  height:95px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 1s;
  position: relative;
}

.thumbTitle{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  margin: 0;
}

#gotoTop{
  position: fixed;
  bottom: 15px;
  right:15px;
}

#gotoTop button{
  background-color: white;
  min-height: 40px;
  display: inline-flex;
  
}

#rocket{
  transition: transform 0.5s, margin-top 1.4s;
}

#topLetter{
  padding-right: 3px;
  font-size: 0%;
  transition: all 0.5s;
}

#gotoTop button:hover #rocket{
  transform : rotate(-45deg)!important;
}

#gotoTop button:hover #topLetter{
  font-size: 1rem;
  color:gray;
}

@media screen and (max-width:1199.5px){

  .topthree{
    border:none;
    padding:5px;
  }

  .thumbDiv{
    width:180px;
    margin: 10px 10px;
  }

  #gotoTop{
    position: absolute;
    bottom: -30px;
    right:-39px;
    transform: translateX(-50%);
  }

  #topLetter {
    font-size: 1rem;
    color:black;
  }

}

@media screen and (max-width:991.5px){

  #phoneList{
    display: inline-block;
  }

  #colorPicker{
    position: fixed;
  }

  .list{
    border:none;
    padding:0;
  }

  #userPage{
    display: none;
  }

  #movingimg{
    display: none;
  }

  #postList{
    padding:6px;
    padding-top:0;
    margin: -360px 5px 20px 5px;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.8s;
    max-height: 300px;
    position:unset;
  }

  #postList.listOpen{
    margin: -8px 5px 20px 5px;
    max-height: 80vh;
  }

  .content{
    padding: 5px;
  }

  #navbar Button{
    width:200px;
  }

  #navbar #phoneList,#navbar #colorPicker Button, #navbar Button:nth-of-type(2){
    width:unset;
  }

  .iconbtn{
    font-size: 1rem;
  }
}

@media screen and (max-width:575px){
  #blogtitle button{
    width:170px;
  }

  #searchResult{
    padding: 0 10px;
  }
}

