button{
  margin: 0 5px;
  border:none;
  background-color: white;
}

.App {
  text-align: center;
}

#navbar{
  border-bottom : 1px solid silver;
  background-color: white;
  z-index: 10;
  height :10vh;   /* 이건 핸드폰에서 조정 */
  width : 100%;  /* 이건 핸드폰에서 조정 */
  position: fixed;  /* 이건 핸드폰에서 조정 */
  top:0;  /* 이건 핸드폰에서 조정 */
  
}

.frame{
  position : relative; /* 이건 핸드폰에서 조정 */
  top:10vh; /* 이건 핸드폰에서 조정 */
  margin: auto;
  /* padding-top:15px; */
}

.list{
  /* background-color: rgb(255, 255, 179); */
  /* border-radius: 5px; */
  padding-top:20px;
  margin:0;
  /* margin-top:15px; */
  border-right: 1px solid silver;
  
}

.list span{
  font-size: 15px;
}
/* 
.shortlist:nth-child(2) h5{
  color:#ffc107;
}

.shortlist h5 span{
  color:black;
  visibility: collapse;
}

.shortlist:nth-child(2) h5 span{
  visibility: visible;
} */

/* .test{
  color:red;
} */

.list div:hover{
  cursor: pointer;
  opacity: 0.7;
}

.list h4{
  text-align:left;
  margin-bottom: 25px;;
}

.list h5{
  /* position: relative; */
  /* border:1px solid red; */

  text-align: left;
  font-size: 18px;
  /* margin: 0; */
  /* border:1px solid blue; */
}

.list h5 span{
  color:transparent;
}

.list p{
  /* position: absolute; */
  /* right:0; */
  text-align: left;
  font-size: 11px;
  margin-top: -5px;
  padding-left: 18px;
  color:gray;
  /* border:1px solid blue; */
}

.content{
  /* margin-top:15px; */
  padding:20px 20px;
  /* background-color: rgb(255, 255, 179); */
  /* border: 1px solid black; */
  /* background-color: white; */
  /* border-left: 1px solid silver; */
  /* border-right: 1px solid silver; */
}

.content p{
  text-align: left;
  /* background-color: white; */
}

.content h6{
  text-align: right;
  /* border:1px solid red; */
}

.comment h6{
  font-size: 13px;
  text-align: left;
}

.comment p{
  font-size: 12px;
}










.extra{
  /* margin-top:15px; */
  /* background-color: rgb(255, 255, 179); */
  /* background-color: lightskyblue; */
  /* border-radius: 5px; */
  border-left: 1px solid silver;
}

/* .footer{
  padding: 10px;
  margin-top: 10px;
  border-top:1px solid #ffc107;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
